.l-region--navigation{
  margin-bottom: 30px;
}

.l-main{
  max-width: 1200px;
  margin: 0 auto;	
}

.breadcrumb li {
  list-style: none;

  a{
    text-decoration: none;
    background: #F6F6F6;
  	color: #2C2C2C;
  	padding: 3px;
  	border-radius: 5px;
  }
}


.l-content{
  width: 525px;
}


.l-region--sidebar-first{
  width: 525px;
  position: absolute;
  top: 110px;
  left: 600px;
}

